object_detect/.ipynb_checkpoints/Object_Detection_Development-checkpoint.ipynb
object_detect/FacialRecognition/fr/ganda0.jpg
object_detect/FacialRecognition/fr/ganda1.jpg
object_detect/FacialRecognition/fr/ganda2.jpg
object_detect/FacialRecognition/fr/ganda3.jpg
object_detect/FacialRecognition/fr/guapo0.jpg
object_detect/FacialRecognition/fr/guapo1.jpg
object_detect/FacialRecognition/fr/guapo2.jpg
object_detect/FacialRecognition/fr/guapo3.jpg
object_detect/FacialRecognition/fr/panget0.jpg
object_detect/FacialRecognition/fr/panget1.jpg
object_detect/FacialRecognition/fr/panget2.jpg
object_detect/FacialRecognition/fr/panget3.jpg
object_detect/FacialRecognition/trainer/trainer.yml
object_detect/face/haarcascade_frontalface_default.xml
